spacy
scikit-learn
PyMuPDF
pandas
trafilatura
frontend
transformers
rank-bm25
accelerate
nltk
pytorch_lightning
torchmetrics
levenshtein
datasets
openai
langchain
sentence-transformers
langchain-huggingface
langchain-community
spacy
anthropic[vertex]